body {
  background-color: slategrey;
  text-align: center;
}

#board-2 {
  /* width: 100%; */
  background-color: black;
}

#board-1 {
  /* justify-content: space-evenly; */
  /* width: 50%; */
  color: aqua;
  background-color: black;
  /* padding: 0px; */
}

.card {
  /* background-color: black; */
  cursor: cell;
  /* margin: auto; */
}

th {
  color: white;
  min-width: 250px;
}
h1 {
  color: aqua;
}
td {
  /* padding: 0; */
  color: aqua;
  min-width: 130px;
}
