body {
  background-color: slategrey;
  text-align: center;
}
.employees {
  color: aqua;
  border-style: solid;
  border-width: thin;
  border-color: white;
}
.card {
  background-color: inherit;
  border-style: none;
}

h1 {
  color: aqua;
}
